/* Estilo padrão (desktop) */
.diferenciais {
  padding: 60px 20px;
  background: #0d1028;
  text-align: center;
}

.titulo-gradiente {
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2.1px;
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #ffffff 0%, #9ea3b5 80%);
  max-width: 60%;
  margin: 0 auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.diferenciais span {
  color: #0328ee;
  font-size: 20px;
  line-height: 130%;
  vertical-align: middle;
  margin-bottom: 15px;
}

.diferenciais p {
  color: #ccc;
  max-width: 35%;
  margin: 0 auto 40px;
  padding-top: 15px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.track {
  display: flex;
}

.card {
  width: 320px;
  height: auto;
  margin: 0 10px;
  border-radius: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text {
  position: absolute;
  top: 66%;
  width: 100%;
  padding: 30px 20px;
  background: linear-gradient(
    0deg,
    rgba(13, 16, 40, 0.9) 0%,
    rgba(13, 16, 40, 0) 90%
  );
  color: white;
  text-align: left;
}

.card-text h3 {
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  min-height: 53px;
  display: flex;
  align-items: flex-end !important;
}

.card-text p {
  font-size: 18px;
  color: #fff;
  line-height: 1.3;
  max-width: 100%;
}

.dots {
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #555;
  border-radius: 50%;
  transition: background 0.3s;
}

.dot.active {
  background: #0328ee;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  .titulo-gradiente {
    font-size: 48px;
    max-width: 80%;
  }

  .diferenciais p {
    max-width: 60%;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .titulo-gradiente {
    font-size: 28px;
    letter-spacing: -1px;
    max-width: 90%;
    margin-top: 10px !important;
  }

  .diferenciais span {
    font-size: 16px;
  }

  .diferenciais p {
    font-size: 16px;
    max-width: 90%;
    margin-bottom: 30px;
  }

  .card {
    width: 250px;
  }
  .card-text {
    background: linear-gradient(
      0deg,
      rgba(13, 16, 40, 0.9) 0%,
      rgba(13, 16, 40, 0) 90%
    );
  }

  .card-text h3 {
    font-size: 18px;
    min-height: auto;
    padding-left: 8px;
    margin-bottom: -5px;
  }

  .card-text p {
    font-size: 14px;
  }
}
