.marcas {
  position: relative;
  background: #020116;
  padding: 50px 0;
  text-align: center;
  overflow: hidden;
mask-image: linear-gradient(
  to right,
  transparent 0%,
  #020116 20%,
  #020116 80%,
  transparent 95%
);
-webkit-mask-image: linear-gradient(
  to right,
  transparent 0%,
  #020116 20%,
  #020116 80%,
  transparent 95%
);
}


.marcas p {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.marcas span {
  font-style: italic;
  font-weight: 600;
}

.logo-img {
  height: 40px;
  margin: 0 40px;
  filter: brightness(0) invert(1);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.05);
  opacity: 1;
}

@media (max-width: 768px) {
  .logo-img {
    height: 30px;
    margin: 0 20px;
  }

  .marcas p {
    font-size: 16px;
    padding: 0 20px;
  }
}
